body {
    font-family: 'Calibri Regular', sans-serif;
}
.container {
	width: 984px;
}
p {
	font-size: 13px;
	color: #323232;
}
a {
	font-family: 'Calibri Regular', sans-serif;
}
.back_wrap {
	height: 38px;
    width: 100%;
    min-width: 984px;
}
.back_bot_line {
	border-bottom: 1px solid #C6C6C6;
}
.back_top_line {
	border-top: 1px solid #C6C6C6;
}
.back_wrap .back {
	line-height: 38px;
}
.back_wrap .back a {
	position: relative;
	color: #7f7f7f;
	font-size: 13px;
	padding-left: 23px;
}
.back_wrap .back a:before {
	content: url(../img/back_arrow.png);
	left: 0;
	line-height: 16px;
	position: absolute;
	top: 1px;
}
.back_wrap .currency {
	line-height: 38px;
	font-size: 11px;
	color: #323232;
	font-weight: normal;
}
.back_wrap .currency .col-md-7 {
	padding-right: 0;
	padding-left: 7%;
}
.back_wrap .sod_select {
	left: 5px;
	top: 2px;
	color: #808080;
	height: 15px;
	font-size: 11px;
	padding: 0;
	width: 27px;
	border: none;
	box-shadow: none;
}
.back_wrap .sod_option {
	color: #808080;
}
.back_wrap .sod_select * {
	padding: 0;
}
.back_wrap .sod_select .selected:before {
	background: none;
}
.back_wrap .sod_select:after {
	right: 0;
	top: 1px;
}
.back_wrap .sod_select .sod_list_wrapper {
	width: 100%;
	border: none;
}
.back_wrap .currency select {
	outline: none;
	border: none;
}
.back_wrap .currency select option {
	outline: none;
}
input::-webkit-input-placeholder {
    color: #262626;
   }
input::-moz-placeholder{
    color: #262626;
}
input::-o-input-placeholder {
    color: #262626;
}
input::-ms-input-placeholder {
    color: #262626;
}
textarea::-webkit-input-placeholder {
    color: #262626;
   }
textarea::-moz-placeholder{
    color: #262626;
}
textarea::-o-input-placeholder {
    color: #262626;
}
textarea::-ms-textarea-placeholder {
    color: #262626;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: 27px;
    color: #333333;
}
h2 {
    font-size: 20px;
    color: #323232;
}
h3 {
    font-size: 18px;
    color: #272727;
}
input,
textarea {
    padding: 10px;
    height: 32px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    color: #272727;
    font-size: 13px;
}
.btn {
    height: 45px;
    background: #f0f0f0;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 white;
}
.btn_blue {
    background: url(../img/btn_blue_bg.jpg) repeat-x;
    font-size: 20px;
    color: white;
    border-color: #3a6fc2;
}
.btn_green {
    background: url(../img/btn_green_bg.jpg) repeat-x;
    font-size: 20px;
    color: white;
    border-color: #2e7b1c;
}


/* Header
------------------------------------------------------------------------------------ */
header {
    width: 100%;
    min-width: 984px;
    height: 46px;
    background: #446cb2;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),
                inset 0 -1px 0 rgba(255,255,255,.2);
}
header .logo {
    margin-top: 10px;
}
header .nav {
    height: 46px;
}
header .nav li {
    height: inherit;
    float: left;
    line-height: 46px;
}
header .nav li .icon {
    float: left;
    margin-right: 7px;
    margin-top: 3px;
}
header .nav li a {
    height: inherit;
    font-size: 11px;
    line-height: 26px;
    text-transform: uppercase;
    color: white;
}
header .nav li a:hover {
    background: #294b85;
}

/* Sidebar
------------------------------------------------------------------------------------ */
.content {
    padding-top: 20px;
}
.main_content {
    padding-top: 10px;
}
.sidebar {
	width: 300px;
}
.sidebar .contacts {
    padding: 5px 5px 5px 15px;
    height: 127px;
    background: #f9f2e9;
    border-radius: 0 10px 0 0;
    border: 1px solid #e6d1b6;
    margin-bottom: 20px;
}
.sidebar .contacts .ball {
    float: right;
    height: 12px;
    width: 12px;
    background: white;
    border-radius: 50%;
    border: 1px solid #e6d1b6;
}
.sidebar .contacts h3 {
    margin: 5px 0 15px;
}
.sidebar .contacts p {
    font-size: 13px;
    color: #262626;
    margin-bottom: 8px;
}
.sidebar .contacts p span {
    width: 130px;
    display: inline-block;
}

.sidebar .search_hotel {
    margin-bottom: 20px;
}
.sidebar .search_hotel input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.sidebar .search_hotel input[type="date"] {
    height: 32px;
    width: 140px;
    padding-left: 15px;
}
.sidebar .search_hotel input.right_date {
    float: right;
}
.sidebar .search_hotel .sod_select {
    margin-top: 10px;
    width: 100%;
}
.sidebar .search_hotel .sod_select .sod_list_wrapper {
    width: 286px;
}
.sidebar .search_hotel .btn {
    width: 100%;
    margin-top: 10px;
}

.sidebar .map_container {
    margin-bottom: 20px;
    height: 185px;
    background: white;
    text-align: center;
    border-bottom: 1px solid #adadad;
    box-shadow: 0 1px 4px 0 rgba(0,0,0, .4);
}
.sidebar .map_container iframe {
    width: 100%;
    height: 142px;
}
.sidebar .map_container a {
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
}
.sidebar .ask_question {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #adadad;
    box-shadow: 0 1px 4px 0 rgba(0,0,0, .4);
}
.sidebar .ask_question h3 {
    margin-bottom: 10px;
}
.sidebar .ask_question input {
    width: 100%;
    margin-bottom: 10px;
}
.sidebar .ask_question textarea {
    width: 100%;
    height: 72px;
    resize: none;
    margin-bottom: 5px;
}
.sidebar .ask_question .btn {
    width: 100%;
}

/* Booking
------------------------------------------------------------------------------------ */
.booking {
    margin-top: 30px;
    border-top: 1px solid #e1e1e1;
}
.booking .top {
    padding-top: 15px;
}
.booking .top h2 {
    margin-top: 3px;
}
.booking .top .date p {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}
.booking .top .date input {
    width: 130px;
}
.booking .top .warranty img {
    float: left;
    margin-right: 5px;
}
.booking .top .warranty p {
    line-height: 17px;
}
.booking .rooms_info {
    margin: 15px 0 0;
    width: 100%;
    height: 41px;
    background: #e7faef;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.booking .rooms_info p {
    font-size: 12px;
    line-height: 41px;
}
.booking .head_table {
    width: 100%;
}
.booking .head_table td {
    padding: 15px 8px;
    font-size: 12px;
    color: #808080;
}
.booking .head_table td:first-child {
    width: 328px;
    text-align: center;
}
.booking .head_table tr td:nth-child(2) {
    width: 215px;
}
.booking .head_table td:last-child {
    width: 130px;
}
.booking .booking_table {
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0, .4);
}
.booking .booking_table .sod_select {
    background: #f1f1f1;
    height: 45px;
    line-height: 26px;
    box-shadow: inset 0 1px 0 white;
    border-color: #d5d5d5;
}
.booking .booking_table .sod_list_wrapper {
    border-color: #d5d5d5;
}
.booking .booking_table tr {
    border-bottom: 1px solid #f1f1f1;
}
.booking .booking_table tr:last-child {
    border-color: transparent;
}
.booking .booking_table tr td {
    padding: 8px;
    vertical-align: top;
}
.booking .booking_table tr td:first-child {
    width: 328px;
}
.booking .booking_table tr td:first-child img {
    width: 105px;
    height: 105px;
    float: left;
    margin-right: 15px;
}
.booking .booking_table tr td:first-child p {
    font-size: 14px;
    margin-bottom: 5px;
}
.booking .booking_table tr td:first-child a {
    color: #33589d;
    font-size: 12px;
}
.booking .booking_table tr td:nth-child(2) {
    width: 215px;
}
.booking .booking_table tr td:nth-child(2) .sod_select  {
    width: 100%;
}
.booking .booking_table tr td:nth-child(2) .sod_list_wrapper {
    width: 199px;
}
.booking .booking_table tr td:nth-child(2) p {
    font-size: 12px;
    color: #818181;
    margin-top: 10px;
}
.booking .booking_table tr td:nth-child(3) {
    width: 67px;
}
.booking .booking_table tr td:nth-child(3) p {
    font-size: 13px;
    margin-top: 12px;
}
.booking .booking_table tr td:nth-child(4) {
    width: 80px;
}
.booking .booking_table tr td:nth-child(4) .sod_list_wrapper  {
    width: 61px;
}
.booking .booking_table tr td:nth-child(5) {
    padding-left: 25px;
}
.booking .booking_table tr td:nth-child(5) button {
    padding: 0;
    outline: none;
    margin-right: -2px;
    -ms-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.booking .booking_table tr td:nth-child(5) button:focus {
    border-color: transparent;
    background: #b3b3b3;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.booking .booking_table tr td:nth-child(5) button.two_person {
    width: 50px;
}
.booking .booking_table tr td:nth-child(5) button.single_person {
    width: 30px;
}
.booking .booking_table tr td:last-child {
    width: 135px;
}
.booking .booking_table tr td:last-child .btn_blue {
    font-size: 15px;
    color: black;
    width: 100%;
}

.booking .result_table {
    width: 100%;
}
.booking .result_table tr {
    border-bottom: 1px solid #e1e1e1;
}
.booking .result_table tr td {
    padding: 15px 0;
}
.booking .result_table tr td:last-child {
    text-align: right;
}
.booking .result_table thead tr td p {
    font-size: 12px;
    color: #808080;
}
.booking .result_table tbody tr td {
    font-size: 13px;
    color: #252525;
}

.booking .result {
    padding: 0 0 40px;
}
.booking .result p.itog {
    font-size: 16px;
    color: #7e7e7e;
    padding: 25px 0;
}
.booking .result p.itog span {
    font-size: 23px;
    color: #343434;
    margin-left: 45px;
}
.booking .btn_green {
    width: 100%;
}
.booking .level {
    margin-top: 15px;
}
.booking .level img {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

/* Popular
------------------------------------------------------------------------------------ */
.popular {
    margin-top: 55px;
    margin-bottom: 115px;
}
.popular h2 {
    margin-bottom: 22px;
}
.popular .level {
    box-shadow: 0 1px 4px 0 rgba(0,0,0, .2);
}
.popular .popular_img {
    width: 100%;
    height: 150px;
}
.popular .popular_info {
    padding: 20px 15px;
    border: 1px solid #d4d4d4;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0 0 2px 2px;
}
.popular .popular_info h3 {
    font-size: 16px;
}
.popular .popular_info p {
    margin: 15px 0;
    font-size: 11px;
}
.popular .popular_info .btn {
    width: 100%;
}

/* Hotel
------------------------------------------------------------------------------------ */
.hotel_wrap {
	position: relative;
	border: 1px solid #C6C6C6;
	margin-top: 14px;
}
.discounts {
	position: absolute;
	left: -1px;
	top: -45px;
	line-height: 45px;
	font-size: 17px;
	color: white;
	text-align: center;
	padding-left: 13px;
	padding-right: 13px;
	background: -webkit-linear-gradient(bottom, #FC6500, #FA9000);
	background: -moz-linear-gradient(bottom, #FC6500, #FA9000);
	background: -ms-linear-gradient(bottom, #FC6500, #FA9000);
	background: -o-linear-gradient(bottom, #FC6500, #FA9000);
	background: linear-gradient(bottom, #FC6500, #FA9000);
}
.discounts:after {
	content: '';
	border: 5px solid transparent;
	border-top: 5px solid #FC6300;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
}
.hotel_wrap .star {
	margin-top: 9px;
}
.hotel_wrap .name {
	margin-top: 20px;
	padding: 0 15px;
}

.hotel_wrap .info {
	padding: 0 15px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.hotel_wrap .info div {
	line-height: 20px;
}
.hotel_wrap .info .map {
	margin-left: 23px;
}
.hotel_wrap .info .map img {
	margin-right: 4px;
	margin-top: -4px;
}
.hotel_wrap .info .like img {
	float: left;
	margin-right: 3px;
	margin-top: 2px;
}
.hotel_wrap .info p {
	display: inline-block;
	font-size: 11px;
	color: #343434;
}
.hotel_wrap .info a {
	display: inline-block;
	font-size: 11px;
	color: #7f7f7f;
}
.hotel_wrap .info .reviews {
	margin-left: 6px;
}

.hotel_container .we_have_wrap {
    margin-top: 30px;
}
.hotel_container .we_have {
    display: table;
    width: 100%;
    margin-top: 20px;
}
.hotel_container .we_have p {
    display: inline-block;
    color: #272727;
    font-size: 11px;
}
.hotel_container .we_have > div {
    display: table-cell;
    vertical-align: middle;
}
.hotel_container .we_have .img {
    padding-left: 8px;
    width: 77px;
    text-align: center;
    display: inline-block;
}
.hotel_container .description_wrap {
    margin-top: 40px;
}
.content .description_wrap * {
    border: none;
    box-shadow: none;
}
.content .panel-heading {
    cursor: pointer;
    border-radius: 0;
    background: none;
    padding: 0;
}
.hotel_container .panel-heading h2 {
    border-top: 1px solid #E7E7E7;
    position: relative;
    padding-left: 0;
    padding-top: 18px;
    padding-bottom: 0;
    color: #323232;
    font-size: 20px;
}
.content .panel-heading h2:after {
    position: absolute;
    right: 20px;
    top: 20px;
    content: '';
    background: url(../img/toggle-arrow.png);
    width: 15px;
    height: 10px;
}
.content .panel-heading h2.open:after {
    background-position: 0 -10px;
}
.content .panel-body {
    border-top: none !important;
    padding: 20px 0 10px ;
    line-height: 20px;
}
.content .accordion_container .panel-heading h2:after {
    top: 50%;
    margin-top: -3px;
    right: 0;
}
.content .accordion_container .panel-group {
    border: 1px solid #F4F4F4;
    border-bottom: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.4)
}
.content .accordion_container .panel-default {
    border: none;
    margin-top: 0;
    box-shadow: none;
    border-bottom: 1px solid #E7E7E7;
    border-radius: 0;
}
.content .accordion_container h2 {
    position: relative;
    line-height: 60px;
    color: #323232;
    font-size: 20px;
}
.content .accordion_container .panel-default {
    padding: 0 15px;
}

/* Hotels
------------------------------------------------------------------------------------ */
.hotels_city {
    margin-bottom: 30px;
}
.hotels {
    padding: 17px;
    border-radius: 2px;
    border-bottom: 1px solid #aaaaaa;
    box-shadow: 0 1px 4px 0 rgba(0,0,0, .4);
}

/* Slider
------------------------------------------------------------------------------------ */
.slider_container {
    width: 100%;
    padding-bottom: 60px;
}
.lof-slidecontent{
    position:relative;
    overflow:hidden;
}
.lof-slidecontent .preload{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:100000;
    text-align:center;
    background:#FFF
}
.lof-slidecontent .preload div{
    height:100%;
    width:100%;
    background:transparent url(../img/load-indicator.gif) no-repeat scroll 50% 50%;
}
.lof-main-outer {
    position:relative;
    height:420px;
    width:640px;
    z-index:3px;
    overflow:hidden;
}

/* main flash */
ul.lof-main-wapper {
    /* margin-right:auto; */
    overflow:hidden;
    background:transparent url(../img/load-indicator.gif) no-repeat scroll 50% 50%;
    padding:0px;
    margin:0;
    position:absolute;
    overflow:hidden;
}

ul.lof-main-wapper li {
    width: 640px;
    overflow:hidden;
    padding:0px;
    margin:0px;
    float:left;
    position:relative;
}
.lof-opacity  li{
    position:absolute;
    top:0;
    left:0;
    float:inherit;
}
ul.lof-main-wapper li img {
    padding:0px;
    width: 100%;
}

/* item navigator */
.lof-navigator-wapper {
    width: 640px;
    position:absolute;
    bottom: 8px;
}
.lof-navigator-outer{
    position:relative;
    z-index:100;
    overflow:hidden;
    color:#FFF;
    float:left;
    width: 560px !important;
}
ul.lof-navigator{
    top:0;
    padding:0;
    margin:0;
    position:absolute;
}
ul.lof-navigator li{
    cursor:pointer;
    list-style:none;
    padding:0;
    overflow:hidden;
    float:left;
    display:block;
    text-align:center;

}
ul.lof-navigator li img{
    border: #C0C0C0 solid 1px;
    width: 40px;
}
ul.lof-navigator li.active img {
    border: black solid 1px;
}
.lof-navigator-wapper .lof-next,  .lof-navigator-wapper .lof-previous{
    display:block;
    margin-top: 10px;
    width:10px;
    height:15px;
    color:#FFF;
    cursor:pointer;

}
.lof-navigator-wapper .lof-next {
    float:left;
    text-indent:-999px;
    margin-left:14px;
    background:url(../img/arrow.png) no-repeat right center;
}
.lof-navigator-wapper .lof-previous {
    float:left;
    text-indent:-999px;
    margin-left: 16px;
    margin-right: 15px;
    background:url(../img/arrow.png) no-repeat left center;
}

/* Footer
------------------------------------------------------------------------------------ */
footer {
    padding-top: 30px;
    height: 325px;
    width: 100%;
    min-width: 984px;
    background: #446cb2;
}
footer .btn_blue {
    background: #4172c7;
    font-size: 13px;
    line-height: 31px;
    border-color: #294b85;
    box-shadow: inset 0 1px 0 rgba(255,255,255, .2);
}
footer .bottom_nav ul {
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}
footer .bottom_nav ul li {
    float: left;
    margin-bottom: 15px;
}
footer .bottom_nav ul li:nth-child(2n+1) {
    width: 160px;
}
footer .bottom_nav ul li a {
    font-size: 11px;
    color: #272727;
    text-transform: uppercase;
}
footer .bottom_nav ul li a:hover {
    color: white;
}
footer .bottom_nav .btn_blue {
    padding: 0 17px 0 0;
    line-height: 45px;
}
footer .bottom_nav .btn_blue:before {
    content: '';
    background: url(../img/envelope.png) no-repeat center, #3a64ad;
    float: left;
    width: 42px;
    height: 45px;
    margin-right: 17px;
    border-right: 1px solid #294b85;
}
footer p {
    font-size: 11px;
    color: #272727;
    text-transform: uppercase;
}

footer form input,
footer form textarea {
    width: 100%;
    border-color: #294b85;
    background: none;
    margin: 0;
    padding: 8px;
    border-radius: 0;
    color: black;
    outline: none;
}
footer form input:focus,
footer form textarea:focus {
}
footer form input {
    border-bottom: none;
}
footer form textarea {
    resize: none;
    height: 90px;
}
footer form .btn_blue {
    margin-top: 5px;
    width: 100%;
}
footer form p {
    margin-bottom: 15px;
}
footer .call_back {
    padding-left: 20px;
}
footer .call_back div:first-child {
    margin-bottom: 30px;
}
footer .call_back p {
    margin-bottom: 4px;
}
footer .call_back p.title {
    margin-bottom: 15px;
}
footer .call_back p.town {
    text-transform: none;
}
footer p.subscription {
    color: white;
    font-size: 11px;
    text-transform: none;
    margin-top: 12px;
}
